.App {
  text-align: center;
}

*{
  list-style: none;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.apagada{
  color: black;
}

.acesa{
  color: yellow;
}

.lampada-cont{
  cursor: pointer;
}

.lamp-apagada{
  color: black;
}

.lamp-acesa{
  color: yellow;
}

.menu{
  cursor: pointer;
  color: red;
  font-size: 40px;
}

.estacao-cont{
  padding: 10px 0px 10px 0px;
  background: silver;
  width: auto;
  cursor: pointer;
}
.estacao-cont:hover{
  background: rgb(158, 158, 158);
}

section{
  background: red;
}